#bigSquare
{
	width: 200px;
	/*height: 500px;*/
	background: cyan;
	border: 5px solid orange;
	padding: 15px;
	margin: 20px auto;
	display: none;
}

#butClick
{
	background: green;
	border-radius: 10px;
}
